/* Styling for both role buttons */
.role-button {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: #1a1a1a;
    -fx-border-width: 3px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 4);
}

.role-button:hover {
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-cursor: hand;
}


#btnScarer {
    -fx-background-image: url("../images/scarerBackground.jpg");
	-fx-background-size:stretch;
	-fx-background-repeat: no-repeat;
	-fx-background-positions:center;
	
}

/* Specific background for the Laugher button */
#btnLaugher {
    -fx-background-image: url("../images/laugherBackground.jpg");
	-fx-background-size:stretch;
	-fx-background-repeat: no-repeat;
	-fx-background-positions: center;
	
	
}
/* Red glow specifically for the Scarer button */
#btnScarer:hover {
    -fx-border-color: #ff0000;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 0, 0, 0.8), 15, 0.5, 0, 0);
}

/* Green glow specifically for the Laugher button */
#btnLaugher:hover {
    -fx-border-color: #00ff00;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 255, 0, 0.8), 15, 0.5, 0, 0);
}
/* Hover effect to indicate the action clearly */

/* Styling for the Laugher title label box */
#lblLaugher {
    -fx-background-color: #0b132b; /* Subtle off-white box */
    -fx-text-fill: #00FF00;                         /* Dark charcoal text */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
	-fx-font-family: "Monster AG";
	
    
    /* Box padding and smooth edges */
    -fx-padding: 6px 16px 6px 16px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #00FF00;
    -fx-border-width: 1px;
    
    /* Subtle shadow to lift the box off the background */
	-fx-effect: dropshadow(three-pass-box, rgba(0, 255, 204, 0.3), 8, 0, 0, 0);
}

/* Styling for the Scarer title label box */
#lblScarer {
    -fx-background-color: #0b132b;                 /* Deep space blue box */
    -fx-text-fill: #FF0000;                         /* Neon cyan glowing text */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    
    /* Box padding and smooth edges */
    -fx-padding: 6px 16px 6px 16px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #FF0000;
    -fx-border-width: 1.5px;
	-fx-font-family: "Monster AG";
	    
    
    /* Eerie neon glow effect around the box */
	-fx-effect: dropshadow(three-pass-box, rgba(0, 255, 204, 0.3), 8, 0, 0, 0);
}
/* Style for the main container background */
#rootPane {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;          /* Forces the image to scale and fill the entire window */
    -fx-background-repeat: no-repeat;    /* Prevents the image from tiling */
    -fx-background-position: center;      /* Centers the background image perfectly */
}
#titleLabel {
    -fx-font-family: "Monster AG";
    -fx-font-size: 32px;
    -fx-text-fill: white;

    -fx-effect:
        dropshadow(three-pass-box,
        rgba(0,0,0,0.7),
        10,0,0,3);
	 /* Bright neon cyan */
	-fx-font-weight: bold;
		    /* Deep multi-layered black shadow so it cuts right through the white stairs */
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 10, 0.7, 0, 0);	
		
}

#vsLabel{
	-fx-font-family: "Monster AG";
	    -fx-font-size: 40px;
	    -fx-text-fill: white;

	    -fx-effect:
	        dropshadow(three-pass-box,
	        rgba(0,0,0,0.7),
	        10,0,0,3);
			-fx-font-weight: bold;
			    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 6, 0.6, 0, 0);	
}

